__pycache__
Hydra/ckpts/
Hydra/tmp
Hydra/answer
Hydra/test
Hydra/hydra_llm.egg-info
Hydra/tmp.py
Hydra/trash/
LR/Qwen3-0.6B-Base
LR/Qwen3-0.6B
LR/deepseek-1.5B
LR/data_chunks_*
LR/temp_model
EAGLE/ckpts
EAGLE/tmp.py
EAGLE/tmp/
EAGLE/fined_model
EAGLE/fined_model_3lr
EAGLE/eagle3_ckpts
EAGLE/outputs
EAGLE/data_chunks*/
LR/tmp.py
LR/GSM*
LR/OPC*
LR/MBPP*
LR/MMLU*
LR/MATH*
LR/gsm_sft*/
LR/results/gpqa/*/
LR/results/gsm/*/
LR/results/mbpp/*/
LR/results/math/*/
LR/results/livecode/
LR/results/mmlu/*/
LR/results/misc